extends ../layout/main-layout.pug
block content 

    .container.mt-5 
        h1.text-center Hakkımızda
        .container 
            .row(style="display:flex; justify-content:center")
                .col-6
                    p.text-center.mb-5 1943'de Ramiz Evgin tarafından manifaturacı olarak Ardahan merkezde ticaret faaliyetine başlanmıştır.1975'de vefatından sonra oğlu Necati Evgin tarafından ticari faaliyet devam ettirilmiş,tek katlı olan mağazanın 2 ve 3'ncü katları inşa edilerek,manifatura diğer katlarda da giyim sektöründe hizmete devam edilmiştir.2008'de Necati Evgin vefatı sonrası Can Murat Evgin ve  Çağdaş Evgin kardeşler 3'ncü kuşak esnaf olarak bu işletmeyi bir adım öteye götürüp 2018 yılında büyük bir ev mağazası inşa ettirerek Perde-Halı-Küçük Ev Aletleri-Çeyiz-Züccaciye ve Ev Tekstili alanında 2 katlı mağazada Evginler Ev Tekstili adı altında şirketleşip 2'nci mağazasıyla Ardahan merkezde hizmete devam etmektedir.
        h3.text-center Misyon Ve Vizyonumuz
        .container 
            .row(style="display:flex; justify-content:center")
                .col-6
                    p.text-center.mb-5  Müşterilerimizin beklentilerini karşılamak üzere; zamanında,en kaliteyi tedarikten tüketiciye ulaştırıp dürüst ve güvenirliğiyle öne geçen firma olmak hedefimizdir.
        h3.text-center KALİTE POLİTİKAMIZ
        .container 
            .row(style="display:flex; justify-content:center")
                .col-6
                    ul(style="list-style:none; text-align:center;").mb-5  
                        li Ürünlerin zamanında teslimi
                        li Ekip çalışması ve doğru bilgi
                        li Sağlıklı ve güvenli bir iş ortamı
                        li Her defasında müşteri memnuniyeti sağlamak 
                     



                     





