footer.bg-dark.text-center.text-lg-start.text-white
    div.container.p-4
      div.row.mt-4.justify-content-center
        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Sosyal Medya

          ul.list-unstyled.mb-0
            li
              a.text-white(href="https://www.instagram.com/evginler_showroom/") 
                i.fa-brands-fa-instagram(style="color: #ffffff; font-size:1rem;") 
                | İnstagram
            li
              a.text-white(href="#") 
                i.fa-brands-fa-google(style="color: #ffffff;") 
                | Google
            li
              a.text-white(href="/about") 
                i(style="color: #ffffff;") 
                | Hakkımızda



                

        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Gizlilik ve Güvenlik

          ul.list-unstyled
            li.text-white
              a(href="/preliminaryInfo") Ön Bilgilendirme Formu
            li.text-white
              a(href="/distanceSellingContract") Mesafeli Satış Sözleşmesi
            li.text-white
              a(href="/dataSecure") Gizlilik ve Güvenlik Politikası
            li.text-white
              a(href="/personalDataProcessing") Kişisel Verilerin İşlenmesi
            li.text-white
              a(href="/deliveryAndReturn") Teslimat Ve İade
            
            

        
        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase İletişim

          ul.list-unstyled
            li.text-white
            |Telefon : 0 (478) 211 35 36
            li.text-white
            | Mail : evginlerevtekstili@hotmail.com
            
        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Adres

          ul.list-unstyled
            li.text-white Karagöl Meydan Cd.
            li.text-white No:27/A-B,75000
            li.text-white Ardahan Merkez
            li.text-white 
                i.fas.fa-briefcase.fa-fw.fa-sm.me-2
                | Evginler Ev Tekstil LTD. ŞTİ
    div.col-lg-3.col-md-6.mb-4.mb-md-0.paymentLogo
        img(src="/img/payment-icon/logo_band_colored.svg", alt="")
        
    div.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2)")
      | © 2024 Created By Dy - Tüm Hakları Saklıdır: Evginler LTD. ŞTİ
     
    